{% extends 'core/base.html' %}

{% load static %}

{% block css %}

<link rel="stylesheet" href="logReg.css">

{% endblock %}

{% block javascript %}

<script src="logReg.js"></script>

{% endblock %}

{% block contenido %}

<body>
    <div class="container" id="container">

        <h1>Registrarse</h1>

        <br>

        <div class="form-container sign-in-container">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_ul }}
                <br>
                
                <button type="submit" name="login">Iniciar sesión</button>
            </form>
        </div>
    </div>
</body>

{% endblock %}